RewriteEngine On

# Remove .html extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.html [L]

RedirectMatch 404 /\.git
RedirectMatch 404 /\.env
RedirectMatch 404 /\.cpanel\.yml
RedirectMatch 404 /composer\.(json|lock)
RedirectMatch 404 /package(-lock)?\.json
